---
import { Rocket } from "@lucide/astro";
---

<div class="flex flex-col justify-center bg-gray-50 min-h-screen align-center">
  <div class="flex flex-col items-start mx-auto">
    <div class="flex items-center gap-2 mt-4">
      <Rocket class="w-6 h-6" />
      <h1 class="font-medium text-xl">Hello astro!</h1>
    </div>
    <p class="mt-1 text-gray-600 text-sm">
      <a class="text-pink-700" href="/about">Welcome</a> to your new Astro project
      with Tailwind CSS.
    </p>
  </div>
</div>

<style></style>
